parameters:
    level: 8
    paths:
        - src
        - tests
    tmpDir: var/cache/phpstan
    symfony:
        console_application_loader: tests/console-loader.php
    excludePaths:
        - tests/bootstrap.php
    ignoreErrors:
        -
            identifier: missingType.iterableValue
        -
            identifier: missingType.generics
    reportUnmatchedIgnoredErrors: false

includes:
    - vendor/phpstan/phpstan-symfony/extension.neon 