parameters:
    level: 8
    paths:
        - src
        - tests
    tmpDir: var/cache/phpstan
    ignoreErrors:
        -
            identifier: missingType.iterableValue
        -
            identifier: missingType.generics
    reportUnmatchedIgnoredErrors: false

includes:
    - vendor/phpstan/phpstan-symfony/extension.neon 